.input {
  display: flex;
  width: 100%;
  min-width: 0;
  flex: 1;
  resize: none;
  overflow: hidden;
  border-radius: 0.75rem;
  color: #141414;
  border: none;
  background-color: #ededed;
  height: 3.5rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  transition: all 0.2s ease;

  &::placeholder {
    color: #737373;
  }

  &:focus {
    outline: none;
    ring: 0;
    border: none;
    background-color: #e5e5e5;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
