.content {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  flex: 1;
}

.title {
  color: #141414;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.025em;
  padding: 0 1rem;
  text-align: center;
  padding-bottom: 0.75rem;
  padding-top: 1.25rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 480px;
  width: 100%;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 1rem;
}

.label {
  font-size: 0.875rem;
  font-weight: 500;
  color: #141414;

  // Radix UI Label에서는 display: none이 기본값이므로 오버라이드
  &[data-radix-collection-item] {
    display: block;
  }
}

.buttonContainer {
  display: flex;
  padding: 0.75rem 1rem;
  justify-content: center;
}

.signInButton {
  min-width: 84px;
  max-width: 480px;
}

.signUpText {
  color: #737373;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: 0.75rem;
  padding-top: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}
